QDR Quartile Date range

In [2]:
import pandas as pd

In [13]:
df = pd.read_excel('D:/Excel_files/Sample - Superstore2.xlsx')

In [14]:
df.shape

(9994, 21)

In [18]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [24]:
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [25]:
df['Ship Date'].dtype

dtype('<M8[ns]')

In [26]:
df['Ship Date']

0      2020-11-11
1      2020-11-11
2      2020-06-16
3      2019-10-18
4      2019-10-18
          ...
9989   2018-01-23
9990   2021-03-03
9991   2021-03-03
9992   2021-03-03
9993   2021-05-09
Name: Ship Date, Length: 9994, dtype: datetime64[ns]

In [27]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
Country/Region            object
City                      object
State                     object
Postal Code              float64
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

In [57]:
df_date =  df.groupby([df['Order Date'].dt.quarter, 'Category']).agg({'Sales':sum})

In [58]:
df_date.unstack(-1)

                  Sales
Category      Furniture Office Supplies  Technology
Order Date
1            98103.4378      110261.387  151316.751
2           142063.1776      143869.429  159577.013
3           200641.6477      207029.867  206260.591
4           301191.5322      257886.349  318999.678

In [59]:
df_any_one_year = df[df['Order Date'].dt.year == 2018]

In [60]:
df_any_one_year['Order Date'].dt.year.unique()

array([2018], dtype=int64)

In [63]:
df_any_one_year.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5,6,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
6,7,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656
7,8,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
8,9,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,5.7825
9,10,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.900,5,0.0,34.4700

In [64]:
df.shape

(9994, 21)

In [65]:
sales_of_2018_with_quarters = df_any_one_year.groupby([df['Order Date'].dt.quarter, 'Category']).aggregate({'Sales':sum})

In [67]:
sales_of_2018_with_quarters.unstack(-1)

                 Sales
Category     Furniture Office Supplies Technology
Order Date
1           22656.1390       14528.683  37262.974
2           28063.7496       31243.735  27231.275
3           41957.8783       53923.968  47751.366
4           64515.0862       52080.026  63032.618